body {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

header {

  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainheader {

  background-color: white;
  color: black;

}

.topnav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
    
}

main {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.subtitle {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* margin: 0;
  padding: 0; */
  flex-basis: 100%;
  background-image: url(./images/wood\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  /* adjust height value for flex */
}

.subtext {

  
  background-color: white;
  color: black;
  /* padding:  */

}

/* .aboutme {

  dipslay: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50px;
  justify-content: center;
  align-items: flex-start;
} */

.aboutmetitle {

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  flex-basis: 20%;
  /* justify-content: flex-start; */

}

.aboutmetext {

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  flex-basis: 80%;

}

 .work {

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: ;

 }

 /* .worktitle {

  

 } */
/* give bgimage1 padding and margin to move left make p its own div with second backgroun image of white also give large bg image a black border if this works do same for below */
 .bgimage1 {

  background-image: url(./images/surfreport\ copy.jpg);
  /* flex: 2 1 200px; */
  flex-grow: 2;
  background-repeat: no-repeat;
  background-size: 100%;

  height: 300px;
  max-width: 600px;
  /* margin-left:250px; */
  /* border-color:black;
  border: 2px; */
 }


 .bgimage2 {

  background-image: url(./images/ledwall\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  /* flex-grow: 1; */
  height: 150px;
  max-width: 300px;
 }

 .bgimage3 {

  background-image: url(./images/calculator\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  /* flex-grow: 1; */
  height: 150px;
  max-width: 300px;
 }

 .bgimage4 {

  background-image: url(./images/pastelpuzzels\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  /* flex-grow: 1; */
  height: 150px;
  max-width: 300px;

 }

 .bgimage5 {

  background-image: url(./images/runbuddy\ copy.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-grow: 1;
  height: 150px;
  max-width: 300px;
 }

 .bgtext {

  background-color: white;
  color: black;

 }