body {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.header {

  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainheader {

  background-color: white;
  color: black;

}

.topnav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  
  
}